.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    border-radius: 20px;
    background-color: rgb(33, 30, 27);
    padding: 30px 10px;
    width: 270px;
}
.event-name{
    padding: 2px;
    width: fit-content;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.event-date{
    margin-top: 15px;
    color: red;
    width: fit-content;
    font-weight: bold;
}
.event-desc{
    margin-top: 15px;
    width: 200px;
    color: white;
    padding: 5px;
}
.line{
    /* margin-left: -20px; */
    margin-top: 80px;
    background-color: red;
    width: 100%;
    height: 2px;
}
.buttons{
    margin-top: 20px;
    width: fit-content;
    display: flex;
    width: 100%;
}
.view-all{
    background-color: rgb(13, 12, 12);
    border: 1px solid red;
    border-radius: 40px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
}
.live{
    background-color: red;
    border: none;
    border-radius: 40px;
    color: black;
    padding: 4px 14px 4px 14px;
    font-size: 14px;
    font-weight: bold;
}
.upcomming{
    background-color: rgb(50,226,7);
    border: none;
    border-radius: 40px;
    color: black;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}