.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #74000000;
    padding: 0 20px;
    margin-bottom: 1rem;
}

.nav {
    flex: 1;
    position: sticky;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #23232300;
    padding: 0 20px;
    justify-content: flex-end;
}

.nav-item {
    color: #c5c4ca;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    position: relative;
}

.logo {
    padding: 1rem;
    margin-left: 7rem;
    width: 8rem;
}

  
@media(max-width: 600px) {
    .header-container{
        display: block;
        justify-content: center;
    }
}


  